@import "~bootstrap/scss/bootstrap.scss";

#film_list{
    width: calc((100% / 5) - 2rem);
    margin-right: 2rem;
}

button{
    margin-left: 40rem;
    a {
    text-decoration: none;
    }
}

ul{
    list-style-type: none;
}
